/* body start */
 
 body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
/* for menu */
/* nav start */
nav {
    display: flex;
    justify-content: space-between;
}
.nav-left{
    margin-top:40px;
    margin-left: 60px;
    font-size: 1em;
}
.nav-right{
    margin-top: 50px;
    margin-right: 60px;
}
nav a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
/* for top part */
.top-part{
    display:flex ;
}
.start{
    margin-bottom:-35px;
}
.journey{
font-size: x-large;
color: #3A3A3A;
font-weight: bold;
}
.half-width{
    width:50%;
    padding-left:5%;
}
.half-width img{
    width: 80%;
}
.paragraph{
font-size: 10px;
font-weight: 600;
color: #3A3A3A;
margin-top: -20px;
}
/* button */
.button{
    margin-top:25px;
}
.preebook-button{
 text-decoration: none;
 background-color:#E02C6D;
color: white;
border-radius:41px ;
padding:5px 40px;
}
.button :hover{
    color: black;
}
/* popular collection */
.h2-font{
    text-align: center;
    color:#3A3A3A;
}

.popular-collections{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}
.collection{
    background-color:  #FFFFFF;;
    width:329px;
    height:476;
   
}
.info{
border-radius: 5px;
    width:330px;
    box-shadow: 1px 1px 1px 2px #00000026;
}
.collection .popular-images img{
    width: 300px;
    height:256px;
    padding-top: 15px;
    padding-left: 15px;
}
.collection-detail{
    padding-left: 15px;
    padding-bottom: 10px;
}
.fa-star{
    font-size: 12px;
    width:11px;
    height: 10px;
}
.fa-star .filled{
    color:#FB8200;
}
.fa-star .empty{
    color:  #AEAEAE;
}
.description{
    color: #787885;
    font-weight: bold;
    width:200px;
    height: 61px;
    display: flex;
    align-items: center;
}